---
import GalleryLayout from "../layouts/GalleryLayout.astro";
const rows = [
  [
    "/img/illustrations/agua1.webp",
    "/img/illustrations/agua2.webp",
    "/img/illustrations/agua3.webp",
    "/img/illustrations/agua4.webp",
  ],
  [
    "/img/illustrations/medusa_colores.webp",
    "/img/illustrations/virgo_the_virrgin.webp",
    "/img/illustrations/woman_3d_instagram_post.webp",
    "/img/illustrations/nena_cabeza_con_pajaroschitui.webp",
    "/img/illustrations/ejercicio_mika_pikazo.webp",
    "/img/illustrations/nena_cyberpunk_estulo_mio1.webp",
  ],
  [
    "/img/illustrations/predator.webp",
    "/img/illustrations/fondo_agua.webp",
    "/img/illustrations/joshua_spiderverse.webp",
    "/img/illustrations/haku_2.webp",
    "/img/illustrations/buho_no_face_hipster.webp",
  ],
];
//FURTHER OPTIMIZE https://bholmes.dev/blog/picture-perfect-image-optimization/
---

<GalleryLayout>
  <main>
    <h1 class="title">Illustrations</h1>
    <div class="grid">
      {
        rows.map((column) => (
          <div class="column">
            {column.map((image) => (
              <div class="image-container">
                <img
                  src={image}
                  srcset={`${image} 120w,
                        ${image} 200w,
                        ${image} 300w`}
                  class="image"
                  alt={image}
                  width={100}
                />
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </main>
</GalleryLayout>

<style>
  :root {
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .grid {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-gap: 1rem;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @media (min-width: 0px) {
    .grid {
      grid-template-columns: 1fr;
    }
    .title {
      font-size: var(--font-size-lg);
    }
  }
  @media (min-width: 576px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
    .title {
      font-size: var(--font-size-xl);
    }
  }
  @media (min-width: 768px) {
    .grid {
      max-width: 40rem;
      box-sizing: border-box;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width: 992px) {
    .grid {
    }
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  }
  .image:is(:hover) {
    will-change: transform;
    transform: scale(1.05);
  }
</style>
