---
const columns = [
  [
    "/img/illustrations/narcissus_water_drop_small.webp",
    "/img/illustrations/Water_dress_print.webp",
    "/img/illustrations/giorno_question_mark.webp",
    "/img/illustrations/warhammer_paladin.webp",
    "/img/illustrations/fox_girl.webp",
    "/img/illustrations/tiger_linked_ingirl.webp",
    "/img/illustrations/agua1.webp",
    "/img/illustrations/poshaus_con_chica_black.webp",
  ],
  [
    "/img/illustrations/Knight_sleepingsmall.webp",
    "/img/illustrations/Chica_le_da_el_sol_insta.webp",
    "/img/illustrations/new_year_dragon.webp",
    "/img/illustrations/front_chica_chest_tattoo2_3.webp",
    "/img/illustrations/virgo_the_virrgin.webp",
    "/img/illustrations/agua3.webp",
    "/img/illustrations/agua4.webp",
  ],
  [
    "/img/illustrations/sunmansmall.webp",
    "/img/illustrations/lady_lake_rgb.webp",
    "/img/illustrations/magik.webp",
    "/img/illustrations/ramen_soup_big.webp",
    "/img/illustrations/paper_hair.webp",
    "/img/illustrations/fondo_agua.webp",
    "/img/illustrations/haku_2.webp",
  ],
];
---

<div
  id="illustrations"
  class="relative flex flex-col items-center p-4 bg-[#63e1da] bg-opacity-50 scroll-smooth"
>
  <div
    class="grid grid-cols-3 justify-center justify-items-center gap-4 w-full m-0"
  >
    {
      columns.map((column) => (
        <div class="flex flex-col w-full gap-4">
          {column.map((image) => (
            <div class="image-container">
              <img
                src={image}
                srcset={`${image} 120w,
                  ${image} 200w,
                  ${image} 300w`}
                class="image"
                alt={image}
                width={100}
              />
            </div>
          ))}
        </div>
      ))
    }
  </div>
</div>

<style>
  @media (min-width: 0px) {
    .grid {
      grid-template-columns: 1fr;
    }
    .title {
      font-size: var(--font-size-lg);
    }
  }
  @media (min-width: 576px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
    .title {
      font-size: var(--font-size-xl);
    }
  }
  @media (min-width: 768px) {
    .grid {
      max-width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width: 992px) {
    .grid {
    }
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 100%;
    height: auto;
    transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    border-radius: 0.15rem;
  }
  .image:is(:hover) {
    will-change: transform;
    transform: scale(1.05);
  }
</style>
