---
const illustrationGrid = [
  [
    "narcissus_water_drop_small",
    "Water_dress_print",
    "giorno_question_mark",
    "warhammer_paladin",
    "fox_girl",
    "tiger_linked_ingirl",
    "agua1",
    "poshaus_con_chica_black",
  ],
  [
    "Knight_sleepingsmall",
    "Chica_le_da_el_sol_insta",
    "new_year_dragon",
    "front_chica_chest_tattoo2_3",
    "virgo_the_virrgin",
    "agua3",
    "agua4",
  ],
  [
    "sunmansmall",
    "lady_lake_rgb",
    "magik",
    "ramen_soup_big",
    "paper_hair",
    "fondo_agua",
    "haku_2",
  ],
];
---

<div
  id="illustrations"
  class="relative flex flex-col items-center p-4 xl:p-10 bg-[#63e1da] bg-opacity-50 scroll-smooth"
>
  <div
    class="grid grid-cols-3 justify-center justify-items-center gap-6 w-full m-0"
  >
    {
      illustrationGrid.map((column) => (
        <div class="flex flex-col w-full gap-4">
          {column.map((image) => (
            <div class="image-container">
              <picture
                class="image"
                onerror="this.style.visibility='hidden'"
                onload="this.style.visibility='visible'"
              >
                <source
                  id="source_640"
                  srcset={`img/illustrations/${image}_640.webp`}
                  type="image/webp"
                  media="(max-width: 640px)"
                />
                <source
                  id="source_768"
                  srcset={`img/illustrations/${image}_768.webp`}
                  type="image/webp"
                  media="(max-width: 768px)"
                />
                <source
                  id="source_1024"
                  srcset={`img/illustrations/${image}_1024.webp`}
                  type="image/webp"
                  media="(max-width: 1024px)"
                />
                <source
                  id="source_1280"
                  srcset={`img/illustrations/${image}_1280.webp 1280w`}
                  type="image/webp"
                  media="(max-width: 1280px)"
                />

                <img
                  src={`img/illustrations/${image}_1536.webp`}
                  loading="lazy"
                  decoding="async"
                  class="image"
                  onload="this.style.visibility='visible'"
                  alt={image}
                  width={100}
                />
              </picture>
            </div>
          ))}
        </div>
      ))
    }
  </div>
</div>

<style>
  @media (min-width: 0px) {
    .grid {
      grid-template-columns: 1fr;
    }
    .title {
      font-size: var(--font-size-lg);
    }
  }
  @media (min-width: 576px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
    .title {
      font-size: var(--font-size-xl);
    }
  }
  @media (min-width: 768px) {
    .grid {
      max-width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width: 992px) {
    .grid {
    }
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 105%;
    height: auto;
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
    transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    border-radius: 0.15rem;
  }

  @media (min-width: 576px) {
    .image:is(:hover) {
      will-change: transform;
      transform: scale(1.04);
    }
  }
</style>
