---
import GalleryLayout from "../../layouts/GalleryLayout.astro";

export const prerender = true;
export function getStaticPaths() {
  // get folder names in src/img/projects
  const pages = [
    {
      slug: "bestival",
      title: "Bestival",
    },
    {
      slug: "bili",
      title: "Bili",
    },
  ];

  return pages.map((page) => ({
    params: { project: page.slug },
    props: {
      ...page,
      carrousel: `/img/projects/${page.slug}/carrousel.webp`,
      image: `/img/projects/${page.slug}/square.webp`,
    },
  }));
}

const { title, carrousel } = Astro.props;
---

<GalleryLayout title={title.toUpperCase()}>
  <div class="overflow-x-auto whitespace-nowrap w-full">
    <div class="min-w-max">
      <img
        src={carrousel}
        srcset={`${carrousel} 120w,
                 ${carrousel} 200w,
                 ${carrousel} 300w`}
        class="h-[35rem] aspect-auto"
        alt={carrousel}
      />
    </div>
  </div>
</GalleryLayout>
